#containerTarefas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carregamento {
    animation: rotating 1s infinite;
    width: 80px;
    height: 80px;
    border: 20px solid #9e9e9e;
    border-top-color: black;
    margin: 80px;
    border-radius: 80px;
}

@keyframes rotating {
    to {
        transform: rotate(1turn);
    }
}

.nenhumaAdicionada {
    font-size: 40px;
}

.tarefa {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-left-width: 40px;
    border-left-style: solid;
    border-left-color: rgb(0, 0, 0);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 250px;
    height: 170px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.superiorTarefa {
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleTarefa {
    flex: 1;
    font-size: 25px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-left: 5px;
}

.concluirTarefa {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.detalhesTarefa {
    flex: 1;
    font-size: 20px;
    text-align: center;
    margin: 5px;
}

.dataTarefa {
    flex: 0;
    text-align: right;
    margin-right: 5px;
}

.concluirTarefa {
    width: 30px;
    height: 30px;
}

@media only screen and (min-height:1080px) and (min-width:720px) {
    .tarefa {
        width: 600px;
        height: 440px;
        border-left-width: 80px;
        padding: 20px;
    }
    .titleTarefa {
        font-size: 80px;
    }
    .detalhesTarefa {
        font-size: 50px;
    }
    .dataTarefa {
        font-size: 25px;
    }
    .concluirTarefa {
        width: 70px;
        height: 70px;
    }
    .nenhumaAdicionada {
        font-size: 70px;
    }
}