header {
    background-color: rgb(255, 255, 255);
    border-bottom-color: #000000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

#separadorHeader {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 2px;
    margin-left: 100px;
    
}

#text_title{
    flex: 0;
    color: #000000;
    font-size: 25px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-style: dashed;
    border-width: 10px;
    border-color: aqua;
    padding: 10px;
}

#div_select_token {
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    padding: 10px;
    flex: 0;
    display: flex;
    flex-direction: column;
}

#text_box_select_token {
    padding: 12px 20px;
    box-sizing: border-box;
}

#button_select_token {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: #4CAF50;
    cursor: pointer;
}


@media only screen and (min-height:1080px) and (min-width:720px) {
    header {
        height: 200px;
        flex-direction: column;
        height: fit-content;
    }
    #text_title{
        font-size: 50px;
        padding: 10px;
        border-width: 10px;
    }
    #separadorHeader {
        width: 0;
        height: 0;
    }
    #div_select_token {
        margin: 10px;
        width: 50%;
        height: 50%;
        border-width: 0;
    }
    #text_box_select_token {
        width: 500px;
        height: 100px;
        font-size: 50px;
    }
    #button_select_token {
        width: 500px;
        height: 100px;
        font-size: 50px;
    }

}